.container {
    height: calc(50vh - 100px);
    background-color: #222;
    display: flex;
}

.item {
    flex: 1;
    position: relative;
    display: flex;
}

.logo {
    margin: 30px;
}

.item:last-child {
    flex: 7;
    padding: 30px;
    justify-content: center;
}

.card {
    flex: 1;
    padding: 0 20px;
}

.title {
    font-size: 16px;
    color: #b7903c;
}

.text {
    color: lightgray;
}

.motto {
    color: rgb(189, 189, 189);
}

@media screen and (max-width: 480px) {
    .container {
        height: auto;
        text-align: center;
    }
    .item:first-child {
        display: none;
    }

    .item {
        flex-direction: column;
    }

    .title {
        font-size: 30px;
    }

    .text {
        font-size: 20px;
    }
}
