.container {
    padding: 150px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: left;
    right: 0px;
    left: 44px;
}

.desc {
    font-size: 24px;
    color: #444;
    width: 70%;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    .title {
        text-align: center;
    }
    .desc {
        width: 90%;
        text-align: center;
    }
}
